body {
    margin: 0%;
    padding: 0%;
    height: 100vh;
/* variables */

--bkg-color: white;
--bkg-sec: #C7B0B1;
--main-color: #A26769;
--accent-color: #A26769;
--prim-font: black;
--sec-font: gray;
}

li {
    list-style: none;
    position: relative;
    right: 10px;
}

a {
    text-decoration: none;
    color: black;
    font-size: 1.25rem;
    font-weight: 700;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

.grid-container {
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 200px 1fr;
    height: 100vh;
    grid-template-areas: 
    "side header"
    "side main";
}

.header {
    grid-area: header;
    background-color: var(--bkg-color);
    display: grid;
    grid-template-rows: 1fr 1.5fr;
    gap: 1rem;
}

.top-header{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.search {
    display: grid;
    padding-left: 5%;
    padding-right: 5%;
    align-items: center;
    grid-template-columns: 1fr 10fr;
}

.search button {
    height: 2rem;
    width: 2rem;
    border: 0px;
    background-color: rgba(230, 230, 250, 0);
    cursor: pointer;
    border-radius: 50%;
    position: relative;
    left: 50%;
    top: 2px;
}

.search input {
    height: 2rem;
    font-size: 1.5rem;
    border: 1px solid lightgray;
    border-radius: 20px;
    padding-left: 15px;
    background-color: var(--bkg-sec);
}

.profile {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.notification-button{
    border-radius: 50%;
    aspect-ratio: 1/1;
    border: 0cap;
    background-color: rgba(240, 248, 255, 0);
    grid-column: 2;
    cursor: pointer;
}

.notification-button:hover {
    box-shadow: inset 1px 1px 20px var(--accent-color);
}

.user-acc {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.acc-post {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}

.acc-info {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.greet {
    font-weight: 600;
}

.name {
    font-size: 1.5rem;
    font-weight: 800;
}

.side {
    grid-area: side;
    background-color: var(--main-color);
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: column;
    gap: 2%;

}

.nav,
.options {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.nav li:hover,
.options li:hover {
    text-decoration: underline;
}

.icon-bell {
    height: 2rem;
    width: 2rem;
    position: relative;
}

.icon-dash {
    height: 2rem;
    width: 2rem;
    position: relative;
    top: 5px;
}

.icon-search {
    height: 1.5rem;
    width: 1.5rem;
    position: relative;
    right: 5px;

}

.icon {
    height: 2rem;
    aspect-ratio: 1/1;
    position: relative;
    top: 10px;
} 

.pfp{
    width: 60px;
    height: 60px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;

}

a:hover .pfp {
    box-shadow: 1px 1px 10px var(--accent-color);    
}

.pfp-acc{
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    justify-self: center;
}

.post {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-content: center;

    > button {
        background-color: var(--main-color);
        padding: .5rem 1rem;
        font-size: 1.20rem;
        border-radius: 30px;
        border: 0ch;
        color: white;
    }

    >button:hover {
        box-shadow: 1px 1px 5px var(--accent-color);
    }
}

img {
    display: inline;
    margin: 0 auto;
    height: auto;
    width: 100%;
    position: relative;
    bottom: 20%;
 }

.main {
    grid-area: main;    
    background-color: var(--bkg-sec);
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
}

.posts {
    grid-row: 1 / -1;
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: 4rem;
    grid-auto-rows: 250px;

    gap: 1.5rem;


    & div:hover {
        box-shadow: 2px 2px 15px var(--accent-color);
    }

}

h4 {
    grid-column: 1 / -1;
    font-size: 1.5rem;
    margin-top: 0%;
    margin-bottom: 3%;

}
.posts > h4 {
    margin-top: auto;
}


.posts div {
    border-left: 10px solid var(--accent-color);
    padding: .60rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-radius: 10px;
    background-color: var(--bkg-color);

    > * {
        width: 30ch;
    }
}

.title-post{
    font-weight: 700;
}

.side-main {
    display: flex;
    flex-direction: column;
    gap: 3%;
}

.card {
    border-radius: 10px;
    padding: 10px 30px;
    background-color: var(--bkg-color);
}

.sep {
    background-color: var(--sec-font);
    height: 3px;
    width: 50%;
    margin: auto;
    border-radius: 10px;
}

.ann {
    border-radius: 10px;
    padding: 3px 15px;
}

.ann:hover {
    background-color: #ffe8e9;

}

.title-ann {
    font-weight: 600;
}

.trend-acc {
    display: flex;
    border-radius: 10px;
    width: 100%;
    align-items: center;
    gap:5px;

    > img {
        margin: 10px;
    }
}

.trend-acc:hover {
    background-color: #ffe8e9;
}

.trend {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 7px;
}

.accs-handle {
    font-weight: 700;
}

.accs-text {
    color: var(--sec-font);
}

@media screen and (max-width: 1000px) {

    .grid-container {
        grid-template-columns: 100px 1fr;
    }

    .header{

        gap: 0px;
        
    }

    .top-header {
        grid-template-columns: 85% 1fr;
    }

    .icon-search {
        right: 30px;
    }

    .name {
        visibility: collapse;
        position: absolute;
    }

    .acc-post {
        grid-template-columns: 1fr;
    }

    .pfp-acc {
        height: 50px;
        width: 50px;
    }
    .name-greet {
        display: flex;
        flex-direction: column;

        > p {
            margin-top: auto;
            margin-bottom: auto;
            position: static;
        }
    }

    .name-greet .name {
        visibility: visible;
    }

    .post {
        margin: auto;
        width: 300px;
    }

    .side {
        width: 100px;
        margin: 0%;
        padding: 0%;
    }

    .icon-dash {
        width: 60px;
        height: 60px;
        margin: 25%;
    }

    .branding span {
        visibility: hidden;
        position: absolute;
    }

    .nav a,
    .options a {
        visibility: hidden;

        > svg {
            visibility: visible;
        }
    }

    .main {
        grid-template-columns: 1fr;
    }

    .posts {
        grid-template-columns: 1fr;
        font-size: 1.35rem;
    }

    .posts div p {
        width: 50ch;
    }

    .side-main {
        visibility: hidden;
        position: absolute;
    }


    .trend-acc img {
        height: auto;
    }
}